#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
  /* text-align: center; */
}

* {
    margin: 0;
    padding: 0;
}

.base-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: baseline;
    background-color: lightblue;
}

.base-container {
    /* min-width: 480px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #eeeeee; */
}

/* .base-container form {
    max-width: 480px;
    min-width: 320px;
}

.base-container form div {
    margin-bottom: 2px;
    width: 100%;
} */